# Ignore all
*

# Unignore all dirs
!*/

# Unignore all with extensions
!*.*

# Unignore .gitignore file
!.gitignore

# Ignore object files
*.o

# vscode files
.vscode

# eclipse files
.cproject
.project
.classpath
.settings

# perf output
perf.data*

# maven output
target

# mac garbage
.DS_Store

# dotnet artifacts
bin/
obj/
BenchmarkDotNet.Artifacts/
